.gameContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: calc(100vh - 60px);
}

.keyboardContainer {
  margin-top: 10px;
}

.boardContainer {
  text-align: center;
}

.homeButton {
  position: absolute;
  top: 0px;
  left: 0px;
}

@media screen and (max-width: 768px) {
  .gameContainer {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: unset;
  }

  #playerBoard {
    order: 1;
  }

  div#playerBoard.boardContainer {
    width: 100%;
  }

  #wordError {
    flex-direction: column;
    top: 8px;
    bottom: unset;
  }
}