.lobbyScreenContainer {
  width: 100%;
  height: 85vh;
  min-height: 85vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.lobbyScreen {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 65%;
  min-height: 300px;
  background-color: rgba(17, 59, 118, 0.25);
  box-shadow: 4px 4px 31px 0px #000000;
  padding: 5px;
  border-radius: 10px;
}

.lobbyNavbar {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.playerCard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50px;
  background-color: #391c4e;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .lobbyScreen {
    width: 100%;
  }
  .lobbyNavbar {
    width: 100%;
  }
}