.board {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.EMPTY {
  margin: 2.5px;
  width: 60px;
  height: 60px;
  border: 2px solid #3a3a3c;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
}

.RIGHT {
  margin: 2.5px;
  width: 60px;
  height: 60px;
  background-color: #538d4e;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
}

.WRONG {
  margin: 2.5px;
  width: 60px;
  height: 60px;
  background-color: #3a3a3c;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
}

.WRONG_POSITION {
  margin: 2.5px;
  width: 60px;
  height: 60px;
  background-color: #b59f3b;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
}