.board {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.box {
  margin: 2.5px;
  width: 60px;
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
}

.EMPTY {
  border: 2px solid #3a3a3c;
}

.RIGHT {
  background-color: #538d4e;
}

.WRONG {
  background-color: #3a3a3c;
}

.WRONG_POSITION {
  background-color: #b59f3b;
}

@media screen and (max-width: 768px) {
  h3 {
    margin: 2.5px;
  }

  .EMPTY {
    border: 1.25px solid #3a3a3c;
  }

  div.board.miniBoard .box {
    width: 20px;
    height: 20px;
    margin: 1.5px;
    font-size: 0.85rem;
  }

  .box {
    width: 42.5px;
    height: 42.5px;
    font-size: 1.65rem;
  }
}